# Entorno virtual 
echo "ws/" >> .gitignore
echo ".ws/" >> .gitignore
echo "venv/" >> .gitignore
echo ".venv/" >> .gitignore
echo "env/" >> .gitignore
echo ".env/" >> .gitignore
echo "*.pyc" >> .gitignore
_pycache_/" >> .gitignore
